.item {
    border-bottom: 1px solid #e5e5e5;
    height: 47px;

    font-weight: 300;
    font-size: 14px;
    color: #000;
}


.item:last-of-type {
    border-bottom: 0;
}

.users {
    width: 100%;
    border-collapse: collapse;

}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 18px;
}

.container {
    width: 606px;
}

.thead {
    background-color: #e5e5e5;
    height: 36px;
}

.nameCol {
    padding-left: 17px;
}

.ageCol {
}